
main {
  flex: 1 0 auto;
}

p {
  padding:2rem;
  @media (min-width: 276px) {
    font-size:1.3rem;
    padding:1rem;
  }
  @media (min-width: 768px) {
    font-size:1.3rem;
    padding:1rem;
  }
  @media (min-width: 992px) {
    font-size:1.8rem;
    padding:2rem;
  }
}

h1 {
  @media (min-width: 276px) {
    font-size:1.8rem;
  }
  @media (min-width: 768px) {
    font-size:1.8rem;
  }
  @media (min-width: 992px) {
    font-size:2.5rem;
  }
}

h2 {
  @media (min-width: 276px) {
    font-size:1.6rem;
  }
  @media (min-width: 768px) {
    font-size:1.6rem;
  }
  @media (min-width: 992px) {
    font-size:2.0rem;
  }
}

h3 {
  @media (min-width: 276px) {
    font-size:1.3rem;
  }
  @media (min-width: 768px) {
    font-size:1.3rem;
  }
  @media (min-width: 992px) {
    font-size:1.8rem;
  }
}

h1 span {
    font-size:1.3rem;
}

ul {
  /* list-style-type: none; */
  list-style-type: "... ";
  @media (min-width: 276px) {
    font-size:1.3rem;
    padding-left: 3.5rem;
  }
  @media (min-width: 768px) {
    font-size:1.3rem;
    padding-left: 3.5rem;
  }
  @media (min-width: 992px) {
    font-size:1.8rem;
    padding-left: 6rem;
  }
}

li p {
  padding:0;
}

.structure-section {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-top:var(--header-min-height);
}

.structure-section-wp {
  display:flex;
  justify-content:space-between;
  @media (min-width: 276px) {
    flex-direction:column;
    margin:1%;
    border: none;
    border-radius:0px;
  }
  @media (min-width: 768px) {
    flex-direction:column;
    margin:1%;
    border: none;
    border-radius:0px;
  }
  @media (min-width: 992px) {
    flex-direction:row;
    margin:3%;
    border:4px solid var(--border-color);
    border-radius:30px;
  }
}

.slide-section {
  display:flex;
  justify-content:space-between;
  flex-direction:column;
}

.slide-image-wp {
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding:2%;

  @media (min-width: 276px) {
    flex-direction:column;
  }
  @media (min-width: 768px) {
    flex-direction:column;
  }
  @media (min-width: 992px) {
    flex-direction:row;
  }
}

.slide-img {
  max-width:80vw;
  max-height:35rem;
  padding-bottom: 3rem;
}

#banner-img {
  padding:2%;
  max-height:100%;
  max-width:100%;
}

/* #contact { */
/*   @media (min-width: 276px) { */
/*     padding-top:15rem; */
/*     padding-bottom:15rem; */
/*   } */
/*   @media (min-width: 768px) { */
/*     padding-top:15rem; */
/*     padding-bottom:15rem; */
/*   } */
/*   @media (min-width: 992px) { */
/*     padding-bottom:8rem; */
/*   } */
/* } */


#about-me-text-wp
, #contact-text-wp
, #skript-text-wp
{
  padding:0.5%;
  display:flex;
  flex-direction:column;
  justify-content:top;
  @media (min-width: 276px) {
      padding-top:0.5rem;
      margin:0%;
    }
    @media (min-width: 768px) {
      padding-top:0.5rem;
      margin:0%;
    }
    @media (min-width: 992px) {
      margin:4%;
    }
}


#skript-text-wp {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  /* align-items:center; */
}

